:root {
  --colors-violet: #584774;
  --colors-violet-light: #79628c;
  --colors-violet-dark: #362d59;

  --colors-purple: #8d5494;
  --colors-purple-light: #ad6caa;
  --colors-purple-dark: #452650;

  --colors-pink: #e1567c;
  --colors-pink-light: #fa7faa;
  --colors-pink-dark: #c83852;

  --colors-flame: #f4834f;
  --colors-flame-light: #ffb287;
  --colors-flame-dark: #df5128;

  --colors-gold: #f1b71c;
  --colors-gold-light: #fedb4b;
  --colors-gold-dark: #d79528;

  --colors-blue: #48a5db;
  --colors-blue-dark: #2562d4;

  --colors-rich-black: #181225;
  --colors-light-grey: #f6f6f8;

  --colors-background: var(--colors-light-grey);
  --colors-foreground: var(--colors-rich-black);

  --colors-border-light: #edeaf0;
  --colors-border-dark: #56585b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colors-background: var(--colors-rich-black);
    --colors-foreground: var(--colors-light-grey);
  }
}
